.wp-block-tzm-section {
	/* Extra specificity needed because the reset.css applied in the editor context is overriding this rule. */
	.editor-styles-wrapper & {
		box-sizing: border-box;
	}

	// Applied while media is being uploaded
	&.is-transient::before {
		background-color: #fff;
		opacity: 0.3;
	}

	// Shown while media is being uploaded
	.components-spinner {
		position: absolute;
		z-index: z-index(".wp-block-tzm-section__inner-container");
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); // Account for spinner dimensions
		margin: 0;
	}

	> .block-editor-block-list__layout {
		width: 100%;
	}

	// The .wp-block-tzm-section class is used just to increase selector specificity.
	.wp-block-tzm-section__inner-container {
		// Avoid text align inherit from section image align.
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}
}

.tzm-section__reset-button {
	margin-left: auto;
}

.tzm-section__resize-container {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 50px;
}

.tzm-section__resize-container:not(.is-resizing) {
	// Important is used to have higher specificity than the inline style set by re-resizable library.
	height: auto !important;
}

// When uploading background images, show a transparent overlay.
.wp-block-tzm-section > .components-drop-zone .components-drop-zone__content {
	opacity: 0.8 !important;
}

// Remove the parallax fixed background when in the patterns preview panel as it
// doesn't work with the transforms that are applied to resize the block in that context.
.block-editor-block-patterns-list__list-item .has-parallax.wp-block-tzm-section {
	background-attachment: scroll;
}

.block-editor-block-inspector {
	.components-panel__row > .components-base-control {
		width: 100%;
	}

	// Shape Divider
	.block-editor-panel-divider {
		// Shape preview
		.component-color-indicator {
			width: 36px;
			margin: -4px 4px;
			border-radius: 0;

			&:has(svg) {
				background: #fff;
			}

			svg {
				display: block;
			}
		}

		// ComboboxControl
		.components-combobox-control {
			.components-form-token-field__suggestions-list {
				max-height: 40vh;
				min-height: 200px;
			}
			.components-form-token-field__suggestion[aria-disabled="true"] {
				border-top: 1px solid lightgray;
				background-color: #eee;
			}
		}

		.is-flipped svg {
			transform: scaleX(-1);
		}

		.is-top-position svg {
			transform: rotate(180deg);
		}

		.is-top-position.is-flipped svg {
			transform: rotate(180deg) scaleX(-1);
		}
	}
}
